<div class="header">
  <ol class="breadcrumb pull-right">
    <li class="active">Home (Search)</li>    
  </ol>
  
  <h3 class="text-muted">trademark</h3>
</div>

<div class="jumbotron">
  <h1>Trademark search</h1>
  <p class="lead">    
    Search our trademark database
  </p> 
</div>

<div class="row marketing"> 
    <form class="form-horizontal" role="form">
      <div class="form-group">

        <label class="col-sm-4 control-label">Serial-Number</label>            
           
       <div class="col-sm-8">   
         <input type="text" class="form-control" ng-model="criteria['serial-number']" ng-enter="search();" placeholder="">
       </div>
      </div>
      
      <div class="form-group">
    
        <label class="col-sm-4 control-label">Mark Identification</label>            
       
       <div class="col-sm-8">   
         <input type="text" class="form-control" ng-model="criteria['mark-identification']" ng-enter="search();" placeholder="">
       </div>
      </div>
      
       <div class="form-group">     
         <label class="col-sm-4 control-label">Trademark Owner</label>                      
         <div class="col-sm-8">   
           <input type="text" class="form-control" ng-model="criteria.owner" ng-enter="search();" placeholder="">
         </div>
      </div>
      
      <div class="form-group">    
        <label class="col-sm-4 control-label">Correspondent</label>                         
        <div class="col-sm-8">   
          <input type="text" class="form-control" ng-model="criteria.correspondent" ng-enter="search();" placeholder="">
        </div>
      </div>
      
       <div class="form-group">    
          <label class="col-sm-4 control-label">International Class</label>                         
       <div class="col-sm-8">   
         <input type="text" class="form-control" ng-model="criteria['international-code']" ng-enter="search();" placeholder="">
       </div>
       </div>
      
       <div class="form-group">     
         <label class="col-sm-4 control-label">Design Code</label>                  
       <div class="col-sm-8">   
         <input type="text" class="form-control" ng-model="criteria['design-code']" ng-enter="search();" placeholder="">
       </div>
      </div>
      
            
      <div class="form-group">
       <label class="col-sm-4 control-label">Trademark Status</label>    
       <div class="col-sm-6">  
         <label class="radio-inline">
           <input type="radio" ng-model="criteria.status" value=""> All
         </label>
         <label class="radio-inline">
           <input type="radio" ng-model="criteria.status" value="live"> Live
         </label>
         <label class="radio-inline">
           <input type="radio" ng-model="criteria.status" value="dead"> Dead
         </label>
                  
       </div>
      </div>
     
      <button type="button" ng-click="search();" class="btn btn-success btn-block">Search</button>
    </form>
</div>

<div class="footer">
  <p>by 28.io</p>
</div>
